<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string>'</string>
	<key>firstSingleLineComment</key>
	<string>--</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>/*</string>
	<key>endFirstMultiLineComment</key>
	<string>*/</string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string>^\s*(static|public|private|protected).*\(.*\).*\n?\s*\{</string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>#act</string>
		<string>#active</string>
		<string>#fin</string>
		<string>#req</string>
		<string>#waiting</string>
		<string>RESULT</string>
		<string>abs</string>
		<string>all</string>
		<string>and</string>
		<string>async</string>
		<string>atomic</string>
		<string>be</string>
		<string>bool</string>
		<string>break</string>
		<string>card</string>
		<string>cases</string>
		<string>char</string>
		<string>class</string>
		<string>comp</string>
		<string>conc</string>
		<string>cycles</string>
		<string>dcl</string>
		<string>def</string>
		<string>definitions</string>
		<string>dinter</string>
		<string>div</string>
		<string>do</string>
		<string>dom</string>
		<string>double</string>
		<string>dunion</string>
		<string>duration</string>
		<string>elems</string>
		<string>else</string>
		<string>elseif</string>
		<string>end</string>
		<string>exists</string>
		<string>exists1</string>
		<string>exit</string>
		<string>export</string>
		<string>exports</string>
		<string>ext</string>
		<string>extern</string>
		<string>false</string>
		<string>float</string>
		<string>floor</string>
		<string>for</string>
		<string>forall</string>
		<string>from</string>
		<string>functions</string>
		<string>hd</string>
		<string>if</string>
		<string>imports</string>
		<string>in</string>
		<string>inds</string>
		<string>init</string>
		<string>inmap</string>
		<string>instance</string>
		<string>int</string>
		<string>inter</string>
		<string>inv</string>
		<string>inverse</string>
		<string>is</string>
		<string>lambda</string>
		<string>len</string>
		<string>let</string>
		<string>long</string>
		<string>map</string>
		<string>merge</string>
		<string>mg</string>
		<string>mod</string>
		<string>module</string>
		<string>mu</string>
		<string>munion</string>
		<string>nat</string>
		<string>nat1</string>
		<string>new</string>
		<string>nil</string>
		<string>not</string>
		<string>of</string>
		<string>operations</string>
		<string>or</string>
		<string>others</string>
		<string>per</string>
		<string>periodic</string>
		<string>post</string>
		<string>power</string>
		<string>pre</string>
		<string>private</string>
		<string>protected</string>
		<string>psubset</string>
		<string>public</string>
		<string>rd</string>
		<string>real</string>
		<string>rem</string>
		<string>responsibility</string>
		<string>return</string>
		<string>rng</string>
		<string>self</string>
		<string>seq</string>
		<string>seq1</string>
		<string>set</string>
		<string>sizeof</string>
		<string>skip</string>
		<string>specified</string>
		<string>st</string>
		<string>start</string>
		<string>startlist</string>
		<string>state</string>
		<string>static</string>
		<string>subclass</string>
		<string>subset</string>
		<string>sync</string>
		<string>system</string>
		<string>then</string>
		<string>thread</string>
		<string>tl</string>
		<string>to</string>
		<string>token</string>
		<string>true</string>
		<string>types</string>
		<string>union</string>
		<string>values</string>
		<string>variables</string>
		<string>while</string>
		<string>wr</string>
		<string>yet</string>
	</array>
	<key>autocompleteWords</key>
	<array>
	</array>
</dict>
</plist>